const mysql = require('promise-mysql');
var pool;

const config = {
	production: {
		prefix: "!",
		getPool: function () {
		  if (pool) return pool; // if it is already there, grab it here
		  pool = mysql.createPool({
				connectionLimit : 10,
			  host     : 'localhost',
			  user     : '',
			  password : '',
			  database : '',
			  charset: "utf8mb4"
		  });
		  return pool;
		},
		adminIDs: {
			'': 'sachii' // Discord ID
		},
		botToken: '', // Discord App Token
		devBotToken: '123456789',
		apiSearchURL: 'https://thedivisiontab.com/api/search.php?platform=uplay&name=', // https://thedivisiontab.com/api/search.php?name=xenodus86&platform=uplay
		apiSearchBaseURL: 'https://thedivisiontab.com/api/search.php?', // https://thedivisiontab.com/api/search.php?name=xenodus86&platform=uplay
		apiPlayerURL: 'https://thedivisiontab.com/api/player.php?pid=', // https://thedivisiontab.com/api/player.php?pid=9bd44bde-9c48-48ae-9c2b-4e11e4b16083

		apiSearchBaseURL_TGG: 'https://api.tracker.gg/api/v2/division-2/standard/profile/', // https://api.tracker.gg/api/v2/division-2/standard/profile/psn/LikeJayzo

		topGGtoken: '123456789',

		helpTxt:
		  "\n***BOT COMMANDS***\n" +
		  '\n***1. Register***: !register agent_id\n' +
		  '***2. Agent Stats***: !agent agent_id\n' +
		  '***3. Dark Zone Stats***: !dz agent_id\n' +
		  '***4. PvE Stats:*** !pve agent_id\n' +
		  '***5. Weapons Stats***: !weapons agent_id\n' +
		  '***6. EXP Summary***: !exp agent_id\n' +
		  '***7. Server Rankings***: !rank [ playtime | ecredit | gearscore | commendation | clanexp | clanexp24h | clanexp7d | clanexp30d ]\n' +
		  '***8. Change Server\'s Platform (default: uplay, admin)***: !platform [ uplay | psn | xbl ]\n' +
		  '***9. Clan Role (admin)***: !clan role server_role_case_sensitive\n' +
		  '***10. Remove Clan Role (admin)***: !clan removerole\n' +
		  '***11. Manually Add/Remove agent(s) to clan (admin)***: !clan add/remove agent_id desired_prefix\n' +
		  '***12. View Manually Added Agents (admin)***: !clan list\n' +
		  '***13. Change Prefix (admin)***: !isac prefix desired_prefix\n' +
		 '***14. Donation Link***: !donate\n' +
		  '\n*admin(s) must have either manage channels or administrator permission(s).*\n' +
		  '*setting a clan role with the bot will make !rank command to filter members only from that role, everyone else will be left out.*',
	},
};
module.exports = config;
